@font-face {
  font-family: 'Enzo-Light';
  src: url("../fonts/EnzoOT-Light.eot");
  src: url("../fonts/EnzoOT-Light.woff2") format("woff2"), url("../fonts/EnzoOT-Light.woff") format("woff"), url("../fonts/EnzoOT-Light.ttf") format("truetype"), url("../fonts/EnzoOT-Light.svg#EnzoOT-Light") format("svg"), url("../fonts/EnzoOT-Light.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Enzo-Medi';
  src: url("../fonts/EnzoOT-Medi.eot");
  src: url("../fonts/EnzoOT-Medi.woff2") format("woff2"), url("../fonts/EnzoOT-Medi.woff") format("woff"), url("../fonts/EnzoOT-Medi.ttf") format("truetype"), url("../fonts/EnzoOT-Medi.svg#Enzo-Medi") format("svg"), url("../fonts/EnzoOT-Medi.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Enzo-Bold';
  src: url("../fonts/EnzoOT-Bold.eot");
  src: url("../fonts/EnzoOT-Bold.woff2") format("woff2"), url("../fonts/EnzoOT-Bold.woff") format("woff"), url("../fonts/EnzoOT-Bold.ttf") format("truetype"), url("../fonts/EnzoOT-Bold.svg#EnzoOT-Bold") format("svg"), url("../fonts/EnzoOT-Bold.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Enzo-Bold', Helvetica, sans-serif;
}

input, p {
  font-family: "Enzo-Medi", Helvetica, sans-serif;
}

body {
  width: 100%;
  height: 100%;
  font-size: 1.6rem;
}

html {
  width: 100%;
  height: 100%;
  font-size: 62.5%;
}

.navbar {
  background-image: -webkit-linear-gradient(bottom, transparent, #000000);
  background-image: linear-gradient(to top, transparent, #000000);
  border-bottom: 0;
  min-height: 9rem;
}

.navbar-brand {
  height: auto;
  padding: 1.5rem 0 0;
  cursor: pointer;
}

.navbar--color-crema {
  color: #f8ebde;
}

.navbar__icons {
  padding-top: 1.5rem;
}

@media (min-width: 767px) {
  .navbar {
    -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
    transition: background .5s ease-in-out,padding .5s ease-in-out;
  }
}

.section {
  height: 100%;
  padding-top: 15rem;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.section--intro {
  background-color: #fff;
}

.section--intro__bg-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.section--equipo {
  height: 40vh;
  background-color: #ff0000;
}

.section--about {
  background-color: #eee;
}

.section--services {
  background-color: #eee;
}

.section--contact {
  background-color: #eee;
}

.no-gutter > [class*='col-'] {
  padding-right: 0;
  padding-left: 0;
}

.headline--crema {
  color: #f8ebde;
}

.headline--bold {
  font-weight: bold;
}

.headline--black-bg {
  background: rgba(0, 0, 0, 0.7);
  max-width: 60rem;
  padding: 3rem;
  width: 100%;
}

.btn {
  font-family: "Enzo-Bold", Helvetica, sans-serif;
}

.btn-primary {
  background-color: #434244;
  border: #434244;
}

.btn-secondary {
  background-color: #f8ebde;
  border: #f8ebde;
}

.form p {
  font-family: "Enzo-Light", Helvetica, sans-serif;
}

.form label {
  font-family: "Enzo-Medi", Helvetica, sans-serif;
}

.modal-title {
  font-size: 2.5rem;
}

.modal__text-lead {
  font-size: 1.8rem;
}

.owl-carousel {
  position: relative;
}

.owl-carousel .item {
  position: relative;
}

.owl-carousel .item .img-bg {
  overflow: hidden;
  height: 100vh;
  width: 100vw;
}

.owl-carousel .item img {
  position: relative;
}

.owl-carousel .item p {
  position: absolute;
  font-size: 1.8rem;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.owl-carousel .owl-controls {
  position: relative;
  top: 0;
  left: 0;
  -webkit-transform: translate(0%, -100%);
          transform: translate(0%, -100%);
  width: 100%;
}

.owl-carousel .owl-nav {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
}

.owl-carousel .owl-nav .owl-prev {
  float: left;
}

.owl-carousel .owl-nav .owl-next {
  float: right;
}

.owl-carousel .owl-dots {
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.parallax [class*="bg__"] {
  position: relative;
  height: 50vh;
  text-indent: -9999px;
  background-attachment: fixed;
  background-position: top center;
  background-size: cover;
}

.parallax [class*="bg__"]:nth-child(2n) {
  box-shadow: inset 0 0 1em #111;
}

.parallax .bg__section1 {
  height: 100vh;
}

.parallax .bg__section1 {
  background-image: url("../../images/bg/Slide1.png");
}

.parallax .bg__section2 {
  background-image: url("../../images/bg/Slide1.png");
}

.parallax .bg__section3 {
  background-image: url("");
}

.parallax .bg__section4 {
  background-image: url("");
}

.parallax .bg__section5 {
  box-shadow: inset 0 0 1em #111;
  background-image: url("");
}

.parallax .capture {
  float: right;
  width: 200px;
  padding: 1em;
  margin: -1.5em 1em 0 0;
  text-indent: 0;
  background: rgba(243, 243, 243, 0.75);
  box-shadow: 0 1px 0.125em #333;
}
