@font-face {
  font-family: 'Enzo-Light';
  src: url("../fonts/EnzoOT-Light.eot");
  src: url("../fonts/EnzoOT-Light.woff2") format("woff2"), url("../fonts/EnzoOT-Light.woff") format("woff"), url("../fonts/EnzoOT-Light.ttf") format("truetype"), url("../fonts/EnzoOT-Light.svg#EnzoOT-Light") format("svg"), url("../fonts/EnzoOT-Light.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Enzo-Medi';
  src: url("../fonts/EnzoOT-Medi.eot");
  src: url("../fonts/EnzoOT-Medi.woff2") format("woff2"), url("../fonts/EnzoOT-Medi.woff") format("woff"), url("../fonts/EnzoOT-Medi.ttf") format("truetype"), url("../fonts/EnzoOT-Medi.svg#Enzo-Medi") format("svg"), url("../fonts/EnzoOT-Medi.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Enzo-Bold';
  src: url("../fonts/EnzoOT-Bold.eot");
  src: url("../fonts/EnzoOT-Bold.woff2") format("woff2"), url("../fonts/EnzoOT-Bold.woff") format("woff"), url("../fonts/EnzoOT-Bold.ttf") format("truetype"), url("../fonts/EnzoOT-Bold.svg#EnzoOT-Bold") format("svg"), url("../fonts/EnzoOT-Bold.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Enzo-Bold', Helvetica, sans-serif;
}

input, p {
  font-family: "Enzo-Medi", Helvetica, sans-serif;
}

body {
  width: 100%;
  height: 100%;
  font-size: 1.6rem;
  background: #000;
}

html {
  width: 100%;
  height: 100%;
  font-size: 62.5%;
}

.navbar {
  background-image: -webkit-linear-gradient(bottom, transparent, #000000);
  background-image: linear-gradient(to top, transparent, #000000);
  border-bottom: 0;
  min-height: 9rem;
}

.navbar-brand {
  height: auto;
  padding: 1.5rem 0 0;
  cursor: pointer;
}

.navbar--color-crema {
  color: #f8ebde;
}

.navbar__icons {
  padding-top: 1.5rem;
}

@media only screen and (min-width: 768px) {
  .navbar {
    -webkit-transition: background .5s ease-in-out,padding .5s ease-in-out;
    transition: background .5s ease-in-out,padding .5s ease-in-out;
  }
}

.section {
  height: 100%;
  padding-top: 15rem;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.section--intro {
  background-color: #fff;
  position: relative;
}

.section--intro__bg-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.section--equipo {
  height: 40vh;
}

.section--about {
  background-color: #eee;
}

.section--services {
  background-color: #eee;
}

.section--contact {
  border-top: 5px solid #c2c4c6;
  background-color: #434244;
}

.section--contact p,
.section--contact label {
  color: #f8ebde;
}

.section--small {
  padding: 3rem 0;
}

.section__icon-padding-right {
  padding-right: 1rem;
}

.full-height {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  position: relative;
}

.no-gutter > [class*='col-'] {
  padding-right: 0;
  padding-left: 0;
}

.headline--crema {
  color: #f8ebde;
}

.headline--bold {
  font-weight: bold;
}

.headline--black-bg {
  background: rgba(0, 0, 0, 0.7);
  max-width: 60rem;
  padding: 4.5rem;
  width: 100%;
}

.headline--flex-bottom {
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-bottom: 6rem;
}

.btn {
  font-family: "Enzo-Bold", Helvetica, sans-serif;
}

.btn-primary {
  background-color: #434244;
  border: #434244;
}

.btn-secondary {
  background-color: #f8ebde;
  border: #f8ebde;
}

.form p {
  font-family: "Enzo-Light", Helvetica, sans-serif;
}

.form label {
  font-family: "Enzo-Medi", Helvetica, sans-serif;
}

.modal-title {
  font-size: 2.5rem;
}

.modal__text-lead {
  font-size: 1.8rem;
}

.owl-carousel {
  position: relative;
}

.owl-carousel .item {
  position: relative;
}

.owl-carousel .item .img-bg {
  overflow: hidden;
  height: 100vh;
  width: 100vw;
}

.owl-carousel .item img {
  position: relative;
}

.owl-carousel .item p {
  position: absolute;
  font-size: 1.8rem;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

.owl-carousel .owl-controls {
  position: relative;
  top: 0;
  left: 0;
  -webkit-transform: translate(0%, -100%);
          transform: translate(0%, -100%);
  width: 100%;
}

.owl-carousel .owl-nav {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 100%;
}

.owl-carousel .owl-nav .owl-prev {
  float: left;
  background: transparent !important;
}

.owl-carousel .owl-nav .owl-next {
  float: right;
  background: transparent !important;
}

.owl-carousel .owl-dots {
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.parallax [class*="bg__"] {
  position: relative;
  background-attachment: fixed;
  background-position: top center;
  background-size: contain;
}

.parallax [class*="bg__"]:nth-child(2n) {
  box-shadow: inset 0 0 1em #111;
}

@media only screen and (min-width: 320px) {
  .parallax .bg__section-1 {
    background-image: url("../images/bg/first-screen-small.jpg");
  }
}

@media only screen and (min-width: 480px) {
  .parallax .bg__section-1 {
    background-image: url("../images/bg/first-screen-small.jpg");
  }
}

@media only screen and (min-width: 768px) {
  .parallax .bg__section-1 {
    background-image: url("../images/bg/first-screen-small.jpg");
    background-size: cover;
    background-repeat: no-repeat;
  }
}

@media only screen and (min-width: 992px) {
  .parallax .bg__section-1 {
    background-image: url("../images/bg/first-screen-large.jpg");
    background-attachment: fixed;
  }
}

.parallax .bg__section-2 {
  background-size: contain;
  background-position: center center;
}

@media only screen and (min-width: 320px) {
  .parallax .bg__section-2 {
    background-image: url("../images/bg/second-screen-medium.jpg");
    background-position: bottom center;
    background-attachment: scroll;
  }
}

@media only screen and (min-width: 480px) {
  .parallax .bg__section-2 {
    background-image: url("../images/bg/second-screen-small.jpg");
    background-size: contain;
    background-position: top center;
  }
}

@media only screen and (min-width: 768px) {
  .parallax .bg__section-2 {
    background-image: url("../images/bg/second-screen-small.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
  }
}

@media only screen and (min-width: 992px) {
  .parallax .bg__section-2 {
    background-image: url("../images/bg/second-screen-large.jpg");
    background-attachment: fixed;
  }
}

.parallax .bg__section-3 {
  background-image: url("");
}

.parallax .bg__section-4 {
  background-image: url("");
}

.parallax .bg__section-5 {
  box-shadow: inset 0 0 1em #111;
  background-image: url("");
}

#map {
  min-height: 30vh;
}
