.headline {
  &--crema {
    color: $crema;
  }
  &--bold {
    font-weight: bold;
  }

  &--black-bg {
    background: rgba($negro, .7);
    max-width: 60rem;
    padding: 3rem;
    width: 100%;
  }
}
