.parallax {
    [class*="bg__"] {
        position: relative;
        // height: 50vh;
        // text-indent: -9999px;
        background-attachment: fixed;
        background-position: top center;
        background-size: contain;

        &:nth-child( 2n ) {
            box-shadow: inset 0 0 1em #111;
        }
    }


    .bg__section-1 {
        // height: 100vh;
    }

    .bg__section-1 {
        background-image: url('images/bg/first-screen-small.jpg');

        @include sm-device {
          background-size: cover;
          background-repeat: no-repeat;
        }

    }

    .bg__section-2 {
        background-image: url('../../images/bg/second-screen-small.jpg');
        background-size: contain;
        background-position: center center;

        @include xxs-device {
          // background-size: cover;
        }
        @include xs-device {
          background-size: contain;
        }
        @include sm-device {
          background-size: cover;
          background-repeat: no-repeat;
          background-position: top center;
        }
    }

    .bg__section-3 {
        background-image: url('');
    }

    .bg__section-4 {
        background-image: url('');
    }

    .bg__section-5 {
        box-shadow: inset 0 0 1em #111;
        background-image: url('');
    }
}
