.section {
  height: 100%;
  padding-top: 15rem;
  text-align: center;
  position: relative;
  overflow: hidden;

  &--intro {
    background-color: #fff;

    &__bg-image {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
    }
  }

  &--equipo {
    height: 40vh;
    background-color:  #ff0000;
  }
  &--about {
    background-color:  #eee;
  }
  &--services {
    background-color:  #eee;
  }
  &--contact {
    background-color:  #eee;
  }

  &--small {
     padding: 3rem 0;
  }

  &__icon-padding-right {
    padding-right: 1rem;
  }
}

.no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}
