.section {
  height: 100%;
  padding-top: 15rem;
  text-align: center;
  position: relative;
  overflow: hidden;

  &--intro {
    background-color: #fff;
    position: relative;


    &__bg-image {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
    }
  }

  &--equipo {
    height: 40vh;
  }
  &--about {
    background-color:  #eee;
  }
  &--services {
    background-color:  #eee;
  }
  &--contact {
    border-top: 5px solid $lightgray;
    background-color:  $darkgray;

    p,
    label {
      color: $crema;
    }

  }

  &--small {
     padding: 3rem 0;
  }

  &__icon-padding-right {
    padding-right: 1rem;
  }
}

.full-height {
  display: flex;
  height: 100vh;
  position: relative;
}

.no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}
